Has the network latency gone up since we switched internet service providers?
Is the website redesign any good?
Is our television ad driving more sales?

# Reworded:

1.) Are certain internet providers more or less likely to cause latency?

2.) Is the website redesign more or less likely to gain viewership?

3.) Is the television AD more or less likely to gain sales?

# Null and Alternative:

1)  There are no difference in latency between internet service providers.

    There is a differnce in latency between service proivders.


2)  The website redesign is not likely to gain viewership

    The website redesign is likely to gain viewership


3)  The television AD is not likely to gain sales.

    The television AD is likely to gain sales.

# Hypothesis Testing Errors:


                    Ho                                  Ha
    Accept Ho     There are no difference in latency. |  Says there a differnce in latency, but there is change



    Reject Ho     Says there is change but there is no change.  |    There is no change in latency.

/////2) The website redesign is not likely to gain viewership


                    Ho                                  Ha
    Accept Ho     There are no viewership gain. |  Says there are no viewership gain, but there is a gain in viewership



    Reject Ho     Says there is viewership gain, but there is no change at all  |    There is a viewership gain

/////3) The television AD is not likely to gain sales.


                    Ho                                  Ha
    Accept Ho     There are no AD sales. |  Says there are no AD sales gain, but there is a gain in sales



    Reject Ho     Says there is gain in sales, but there is no change at all  |    There is a sales gain

# T - Test

In [16]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices.
A sample of 40 sales from office 1 revealed a mean of 90 days and a standard deviation of 15 days. 
A sample of 50 sales from office 2 revealed a mean of 100 days and a standard deviation of 20 days. 
Use a .05 level of significance.

Is the average time to sell office 1 different office 2?

There is no difference between office 1 with less time than office 2

There is a difference between office 1 and 2

In [9]:
#Group 1
sample = 40
mean = 90
std_dev = 15

variance1 = std_dev**2
#Group 2
sample2 = 50
mean2 = 100
std_dev2 = 20

variance2 = std_dev2**2
alpha = 0.05

t, p = stats.ttest_ind_from_stats(90, 15, 40, 100, 20, 50, equal_var=False)
t, p/2, alpha

(-2.7091418459143854, 0.00405603135173008, 0.05)

In [8]:
variance1 == variance2

False

In [14]:
if (p < alpha):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We reject the null hypothesis

In [15]:
#Load the mpg dataset and use it to answer the following questions:

In [17]:
mpg = data('mpg')

In [18]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [19]:

#Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [20]:
Ho = "There is no difference between 2008 and 1999 fuel-efficiencies"
Ha = "There is a difference between 2008 and 1999 fuel-efficiencies"

In [38]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
 11  efficiency    234 non-null    int64
 12  fuel_2008     117 non-null    float64
 13  fuel_1999     117 non-null    float64
dtypes: float64(3), int64(5), object(6)
memory usage: 27.4+ KB

In [43]:
mpg['efficiency'] = (mpg.cty + mpg.hwy)/2

In [23]:
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,efficiency
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10

In [28]:
mpg['fuel_2008'] = mpg[mpg.year == 2008].efficiency

In [25]:
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,efficiency,fuel_2008
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,NaN
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,NaN
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,11.0
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,9.0
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,NaN

In [27]:
mpg['fuel_1999'] = mpg[mpg.year == 1999].efficiency

In [29]:
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,efficiency,fuel_2008,fuel_1999
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,NaN,11.0
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,NaN,8.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,11.0,NaN
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,9.0,NaN
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,NaN,10.0

In [44]:
fuel_2008 = mpg[mpg.year == 2008].efficiency
fuel_1999 = mpg[mpg.year == 1999].efficiency

In [31]:
alpha = 0.05

In [45]:
fuel_2008.var(), fuel_1999.var()

(24.097480106100797, 27.122605363984682)

In [46]:
t,p = stats.ttest_ind(fuel_2008, fuel_1999, equal_var=False)
t, p, alpha

(-0.21960177245940962, 0.8263750772060638, 0.05)

In [47]:
if (p < alpha):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We fail to reject the null hypothesis

# Part 2

In [ ]:
#Are compact cars more fuel-efficient than the average car?

In [ ]:
Ho = "Compact cars are not more fuel-efficient than the average car"
Ha = "Compact cars are more fuel-efficient than the average car"

In [49]:
mpg.sample(10)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,efficiency,fuel_2008,fuel_1999
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact,23.5,7.0,NaN
93,ford,mustang,4.0,2008,6,manual(m5),r,17,26,r,subcompact,21.5,9.0,NaN
117,hyundai,tiburon,2.0,1999,4,manual(m5),f,19,29,r,subcompact,24.0,NaN,10.0
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,20.5,NaN,7.0
23,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv,14.5,5.0,NaN
155,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize,22.0,NaN,8.0
94,ford,mustang,4.0,2008,6,auto(l5),r,16,24,r,subcompact,20.0,8.0,NaN
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,16.5,5.0,NaN
35,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize,22.0,NaN,8.0
64,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv,13.0,NaN,4.0

In [51]:
#compact_fuel = mpg[mpg['class'] == 'compact'].efficiency
#average_fuel = mpg[mpg['class'] != 'compact'].efficiency

In [89]:
compact_fuel = mpg[mpg['class'] == 'compact'].efficiency
average_fuel = mpg.efficiency

In [77]:
compact_fuel

1      23.5
2      25.0
3      25.5
4      25.5
5      21.0
6      22.0
7      22.5
8      22.0
9      20.5
10     24.0
11     23.0
12     20.0
13     21.0
14     21.0
15     20.0
142    25.0
143    23.0
170    22.5
171    23.5
172    22.0
173    23.5
187    24.0
188    25.0
189    26.0
190    26.5
191    22.0
192    22.0
193    22.5
194    27.0
195    28.5
196    30.5
197    32.5
198    30.5
208    25.0
209    22.5
210    25.0
211    25.5
212    20.5
213    38.5
214    25.0
215    22.5
216    25.5
217    25.0
218    25.0
219    25.0
220    19.5
221    20.5
Name: efficiency, dtype: float64

In [90]:
compact_fuel.var(), average_fuel.var()

(12.442876965772433, 25.50542900113715)

In [94]:
t,p = stats.ttest_1samp(compact_fuel, average_fuel.mean())
t, p/2 , alpha

(7.896888573132535, 2.0992818971585668e-10, 0.05)

In [95]:
if (p < alpha) & (t > 0):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We reject the null hypothesis

# Part 3

In [ ]:
#Do manual cars get better gas mileage than automatic cars?

In [57]:
mpg['gas_mg'] = mpg.hwy - mpg.cty

In [78]:
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,efficiency,fuel_2008,fuel_1999,gas_mg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,NaN,11.0,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,NaN,8.0,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,11.0,NaN,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,9.0,NaN,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,NaN,10.0,10

In [83]:
manual_mpg = mpg[mpg['trans'].str.startswith('m')].gas_mg

In [84]:
automatic_mpg = mpg[mpg['trans'].str.startswith('auto')].gas_mg

In [85]:
manual_mpg.var(), automatic_mpg.var()

(4.831168831168837, 5.092520006532751)

In [86]:
t,p = stats.ttest_ind(manual_mpg, automatic_mpg, equal_var=False)
t, p/2 , alpha

(2.5252129098254064, 0.0062847072174293, 0.05)

In [88]:
if (p/2 < alpha) & (t > 0):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We reject the null hypothesis

# -----------------------------------------------------------

# -----------------------------------------------------------

# Correlation Exercises

Use the telco_churn data. Does tenure correlate with monthly charges? Total charges? 
What happens if you control for phone and internet service?


Use the employees database.
Is there a relationship between how long an employee has been with the company and their salary?
Is there a relationship between how long an employee has been with the company and the number of titles they have had?

Use the sleepstudy data. Is there a relationship between days and reaction time?

In [156]:
telco_churn = pd.read_csv('telco_churn.csv')
telco_churn.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.50,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.40,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.90,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

In [149]:
telco_churn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customerID           0 non-null      object
 1   gender               0 non-null      object
 2   SeniorCitizen        0 non-null      int64
 3   Partner              0 non-null      object
 4   Dependents           0 non-null      object
 5   tenure               0 non-null      int64
 6   PhoneService         0 non-null      object
 7   MultipleLines        0 non-null      object
 8   InternetService      0 non-null      object
 9   OnlineSecurity       0 non-null      object
 10  OnlineBackup         0 non-null      object
 11  DeviceProtection     0 non-null      object
 12  TechSupport          0 non-null      object
 13  StreamingTV          0 non-null      object
 14  StreamingMovies      0 non-null      object
 15  Contract             0 non-null      object
 16  PaperlessBilling     0 non-null      object
 17  PaymentMethod        0 non-null      object
 18  MonthlyCharges       0 non-null      float64
 19  TotalCharges         0 non-null      float64
 20  Churn                0 non-null      object
 21  Phone_charges_no     0 non-null      float64
 22  Phone_charges_yes    0 non-null      float64
 23  Inter_charges_dsl    0 non-null      float64
 24  Inter_charges_fiber  0 non-null      float64
 25  Inter_charges_no     0 non-null      float64
dtypes: float64(7), int64(2), object(17)
memory usage: 0.0+ bytes

Does tenure correlate with monthly charges?

In [157]:
telco_churn = telco_churn.dropna()

In [158]:
x = telco_churn.tenure
y = telco_churn.MonthlyCharges

In [131]:
corr, p = stats.pearsonr(x, y)
corr, p

(0.2468617666408935, 3.9898213232673846e-98)

Total charges?

In [132]:
#x2 = telco_churn.tenure
y2 = telco_churn.TotalCharges

In [147]:
corr, p = stats.pearsonr(x, y2)
corr, p

(0.825880460933202, 0.0)

What happens if you control for phone and internet service?

In [142]:
telco_churn['Phone_charges_yes'] = telco_churn[telco_churn['PhoneService'] == 'Yes'].TotalCharges
telco_churn

telco_churn['Phone_charges_no'] = telco_churn[telco_churn['PhoneService'] == 'No'].TotalCharges
telco_churn

telco_churn['Inter_charges_dsl'] = telco_churn[telco_churn['InternetService'] == 'DSL'].TotalCharges
telco_churn

telco_churn['Inter_charges_fiber'] = telco_churn[telco_churn['InternetService'] == 'Fiber optic'].TotalCharges
telco_churn

telco_churn['Inter_charges_no'] = telco_churn[telco_churn['InternetService'] == 'No'].TotalCharges
telco_churn

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Phone_charges_no,Phone_charges_yes,Inter_charges_dsl,Inter_charges_fiber,Inter_charges_no
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,Yes,Electronic check,29.85,29.85,No,29.85,NaN,29.85,NaN,NaN
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,Mailed check,56.95,1889.50,No,NaN,1889.50,1889.50,NaN,NaN
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,Yes,Mailed check,53.85,108.15,Yes,NaN,108.15,108.15,NaN,NaN
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,Bank transfer (automatic),42.30,1840.75,No,1840.75,NaN,1840.75,NaN,NaN
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,Yes,Electronic check,70.70,151.65,Yes,NaN,151.65,NaN,151.65,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Mailed check,84.80,1990.50,No,NaN,1990.50,1990.50,NaN,NaN
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,Credit card (automatic),103.20,7362.90,No,NaN,7362.90,NaN,7362.90,NaN
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,Yes,Electronic check,29.60,346.45,No,346.45,NaN,346.45,NaN,NaN
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,Yes,Mailed check,74.40,306.60,Yes,NaN,306.60,NaN,306.60,NaN
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Bank transfer (automatic),105.65,6844.50,No,NaN,6844.50,NaN,6844.50,NaN

In [159]:
telco_churn['Combo'] = telco_churn['PhoneService'] + telco_churn['MultipleLines'] + telco_churn['InternetService']
telco_churn

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Combo
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,NoNo phone serviceDSL
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.50,No,YesNoDSL
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,YesNoDSL
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,NoNo phone serviceDSL
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,YesNoFiber optic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No,YesYesDSL
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No,YesYesFiber optic
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No,NoNo phone serviceDSL
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes,YesYesFiber optic
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No,YesNoFiber optic

In [162]:
combo = telco_churn['Combo'].value_counts().index

In [166]:
for i in combo:
    df = telco_churn[telco_churn.Combo == i]
    x = df.tenure
    y = df.TotalCharges
    corr, p = stats.pearsonr(x, y)
    print(corr, p, i)

0.9831118828244192 0.0 YesYesFiber optic
0.9967792230259593 0.0 YesNoNo
0.9868294138585318 0.0 YesNoFiber optic
0.9736113654439307 0.0 YesNoDSL
0.965781192283518 0.0 YesYesDSL
0.9534228506954516 0.0 NoNo phone serviceDSL
0.9941386293276848 0.0 YesYesNo

Use the employees database. Is there a relationship between how long an employee has been with the company and 
their salary? Is there a relationship between how long an employee has been with the company 
and the number of titles they have had?

In [167]:
def get_db_url(db_name):
    from env import host, user, password
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [205]:
sql = """
    SELECT *, DATEDIFF(curdate(), hire_date) AS 'days'
    FROM employees
    JOIN salaries using(emp_no)
    WHERE to_date > NOW()
    """

In [206]:
url = get_db_url("employees")

employee_salary  = pd.read_sql(sql, url)
employee_salary.head()

,emp_no,birth_date,first_name,last_name,gender,hire_date,salary,from_date,to_date,days
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,88958,2002-06-22,9999-01-01,12916
1,10002,1964-06-02,Bezalel,Simmel,F,1985-11-21,72527,2001-08-02,9999-01-01,13133
2,10003,1959-12-03,Parto,Bamford,M,1986-08-28,43311,2001-12-01,9999-01-01,12853
3,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,74057,2001-11-27,9999-01-01,12758
4,10005,1955-01-21,Kyoichi,Maliniak,M,1989-09-12,94692,2001-09-09,9999-01-01,11742

In [201]:
x = employee_salary.days
y = employee_salary.salary

In [202]:
corr, p = stats.pearsonr(x, y)
corr, p

(0.3064625613186077, 0.0)

Is there a relationship between how long an employee has been with the company and the number of titles they have had?

In [227]:
sql2 = """
    SELECT DATEDIFF(curdate(), hire_date) AS 'days', COUNT(title) AS 'title_count'
    FROM employees
    JOIN titles using(emp_no)
    GROUP BY emp_no
    """

In [228]:
#url = get_db_url("employees")

employee_titles = pd.read_sql(sql2, url)
employee_titles.head()

    days  title_count
0  12916            1
1  13133            1
2  12853            1
3  12758            2
4  11742            2

In [229]:
x2 = employee_titles.days
y2 = employee_titles.title_count

In [230]:
corr2, p2 = stats.pearsonr(x2, y2)
corr2, p2

(0.26659892991366185, 0.0)

Use the sleepstudy data. Is there a relationship between days and reaction time?

In [231]:
sleepstudy = data('sleepstudy')
sleepstudy.head()

   Reaction  Days  Subject
1  249.5600     0      308
2  258.7047     1      308
3  250.8006     2      308
4  321.4398     3      308
5  356.8519     4      308

In [232]:
x3 = sleepstudy.Days
y3 = sleepstudy.Reaction

In [233]:
corr3, p3 = stats.pearsonr(x3, y3)
corr3, p3

(0.5352302262650253, 9.894096322214812e-15)